.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background: rgba(0, 0, 0, 0.5);
    z-index: 999;

    padding: 0 80px;
    height: 100px;
    overflow: hidden;
    transition: 0.4s;
}

.header.on {
    height: 0;
}

.header .header_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.header .gnb {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.header .gnb>ul {
    display: flex;
}

.header .gnb a {
    display: block;
    line-height: 100px;
    padding: 0 16px;
    color: #fff;
    font-size: 18px;
}

.util {
    position: fixed;
    top: 30px;
    right: 80px;
    width: 32px;
    height: 24px;
    cursor: pointer;

    z-index: 1000;
}

.util button {
    background: transparent;
    border: none;
    outline: none;
}

.util span {
    font-size: 0;
}

.util button::before {
    content: "";
    position: absolute;
    inset: 0 0 auto 0;
    height: 4px;
    background: #fff;
    border-radius: 2px;
}

.util button::after {
    content: "";
    position: absolute;
    inset: auto 0 0 0;
    height: 4px;
    background: #fff;
    border-radius: 2px;
}

.util.on button::before,
.util.on button::after {
    display: none;
}

.util span::before {
    content: "";
    position: absolute;
    inset: 50% 0 auto 0;
    height: 4px;
    background: #fff;
    transform: translate(0, -50%);
    border-radius: 2px;
}

.util.on span::before {
    transform: translate(0, -50%) rotate(45deg);
}

.util span::after {
    content: "";
    position: absolute;
    inset: 50% 0 auto 0;
    height: 4px;
    background: #fff;
    transform: translate(0, -50%);
    border-radius: 2px;
}

.util.on span::after {
    transform: translate(0, -50%) rotate(-45deg);
}

.page01 {
    background: url(../images/main.png) no-repeat fixed center center/cover;
}

.page01 .slogan {
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    line-height: 1;
}

.page01 .slogan strong {
    display: block;
    font-size: 48px;
    font-weight: 100;
    margin: 0 0 24px 0;

    transform: translate(0, 100px);
    opacity: 0;
}

.page01.on .slogan strong {
    transform: translate(0, 0);
    opacity: 1;
    transition: 0.5s 0.5s;
}

.page01 .slogan h2 {
    font-size: 80px;
    font-weight: 700;
    margin: 0 0 24px 0;

    transform: translate(0, 100px);
    opacity: 0;
}

.page01.on .slogan h2 {
    transform: translate(0, 0);
    opacity: 1;
    transition: 0.5s 1s;
}

.page01 .slogan span {
    display: block;
    font-size: 24px;

    transform: translate(0, 100px);
    opacity: 0;
}

.page01.on .slogan span {
    transform: translate(0, 0);
    opacity: 1;
    transition: 0.5s 1.5s;
}

.page01 .wheel a {
    position: absolute;
    inset: auto auto 80px 50%;
    transform: translate(-50%, 0);
    width: 32px;
    height: 46px;
    border-radius: 16px;
    border: 2px solid #fff;

    font-size: 0;
}

.page01 .wheel a::after {
    content: "";
    position: absolute;
    inset: 8px auto auto 50%;
    transform: translate(-50%, 0);

    width: 3px;
    height: 10px;
    background: #fff;
    border-radius: 2px;
    animation: wheel 0.5s infinite linear;
}

@keyframes wheel {
    0% {
        transform: translate(-50%, 0);
    }

    50% {
        transform: translate(-50%, 3px);
    }

    100% {
        transform: translate(-50%, 0);
    }
}

.page02 {

    background: #f5f2ed;
    /* overflow: hidden; */
    /* padding: 100px 0 0 0; */
}

.page02 .gooey {
    filter: url(#goo);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* box-shadow: 0 0 30px #333; */
    animation: box infinite 2s;
    overflow: hidden;

}

.page02 .gooey::before {
    content: "";
    position: absolute;

    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #ffd900;
    /* box-shadow: 0 0 60px rgba(0, 0, 0, 0.25); */
    animation: before 5s infinite;
}

.page02 .gooey::after {
    content: "";
    position: absolute;
    bottom: -300px;
    left: -300px;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    background: #ffd900;
    /* box-shadow: 0 0 60px rgba(0, 0, 0, 0.25); */
}




.page02 .inner {
    position: relative;
    z-index: 999;
}


@keyframes before {
    0% {
        bottom: 400px;
        left: 400px;
    }

    100% {
        bottom: 700px;
        left: 700px;
        opacity: 0;
    }
}


.page02 h2 {
    font-size: 80px;
    font-weight: 700;
    margin: 0 0 24px 0;
    text-align: center;

    transform: translate(0, 100px);
    opacity: 0;

}

.page02.on h2 {
    transform: translate(0, 0);
    opacity: 1;
    transition: 0.5s;
}

.page02 p {
    font-size: 18px;
    font-weight: 300;
    margin: 0 0 64px 0;
    text-align: center;

    transform: translate(0, 100px);
    opacity: 0;

}

.page02.on p {
    transform: translate(0, 0);
    opacity: 1;
    transition: 0.5s 0.5s;
}

.page02 .service_list {
    display: flex;
    gap: 60px;
    justify-content: center;
    text-align: center;

    transform: translate(0, 100px);
    opacity: 0;
    visibility: hidden;

}

.page02.on .service_list {
    transform: translate(0, 0);
    opacity: 1;
    visibility: visible;
    transition: 0.5s 1s;
}

.page02 .service_list span {
    display: block;
    margin: 0 0 24px 0;
    font-size: 120px;
}

.page03 {
    background: #F5F2ED url(../images/main_ourbg_icn.png) no-repeat right bottom;
}

.page03 .inner {
    gap: 100px;
    overflow: hidden;
}

.page03 .img_box {
    transform: translate(0, 500px);
    opacity: 0;
}

.page03.on .img_box {
    transform: translate(0, 0);
    opacity: 1;
    transition: 0.5s;
}

.page03 .content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    transform: translate(500px, 0);
    opacity: 0;
}

.page03.on .content {
    transform: translate(0, 0);
    opacity: 1;
    transition: 0.5s 0.5s;
}

.page03 .content strong {
    display: block;
    margin: 0 0 24px 0;
    font-size: 18px;
    font-weight: 100;
}

.page03 .content h2 {
    display: block;
    margin: 0 0 30px 0;
    font-size: 80px;
    font-weight: 700;
}

.page03 .content p {
    margin: 0 0 48px 0;
    font-size: 16px;
    line-height: 20px;
}

.page03 .content a {
    background: #333;
    color: #fff;
    font-size: 12px;
    font-weight: 100;
    align-self: flex-start;
    padding: 12px 24px;
}

.port_img {
    width: 720px;
    height: 400px;
    overflow: hidden;
    border: 10px solid #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
}

.port_img img {
    transform: translate(0, 0);
    transition: 1s;
}

.port_img:hover img {
    transform: translate(0, calc(-100% + 400px));
}


.m_link {
    position: fixed;
    inset: 50% 80px auto auto;
    z-index: 999;
    transform: translate(0, -50%);
}

.m_link ul li {
    margin: 0 0 4px 0;
}

.m_link ul li a {
    display: block;
    width: 16px;
    height: 16px;
    background: #ddd;
    font-size: 0;
}

.m_link ul li.on a {
    border-radius: 50%;
}

.cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #333;
    z-index: 999;

    display: none;
}

.cover.on {
    display: block;
}

.cover>ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    gap: 30px;
}

.cover>ul a {
    display: block;
    line-height: 1.4;
    color: #fff;
    font-size: 40px;
}

.pagenation {
    position: fixed;
    top: 50%;
    left: 80px;
    transform: translate(0, -50%);
    z-index: 999;
}

.pagenation .bg {
    width: 100px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../images/bg01.png);
    transition: 0.5s;
}